# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/rcr-enterprises?retryWrites=true&w=majority

# Authentication
JWT_SECRET=your_super_secret_jwt_key_here_min_32_chars
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# Admin ENV Login Bypass
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Nodemailer (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rcrenterprises786@gmail.com
SMTP_PASS=your_gmail_app_password
CONTACT_EMAIL=rcrenterprises786@gmail.com

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_COMPANY_NAME=RCR ENTERPRISES
NEXT_PUBLIC_COMPANY_EMAIL=rcrenterprises786@gmail.com
NEXT_PUBLIC_COMPANY_PHONE=9619439243
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX



